{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
<h1>Livre index</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Auteur</th>
            <th>Titre</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for livre in livres %}
        <tr>
            <td>{{ livre.id }}</td>
            <td>{{ livre.auteur }}</td>
            <td>{{ livre.titre }}</td>
            <td>
                <a href="{{ path('livre_show', {'id': livre.id}) }}"> show</a>
                <a href="{{ path('livre_edit', {'id': livre.id}) }}" class="fa fa-edit"></a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('livre_new') }}">Create new</a>

<table class="table table-responsive">
    <thead class="thead-dark">

        <tr>
            <th colspan="3">Livres sortis</th>
        </tr>

        <td>ID</td>
        <td>Titre</td>
        <td>Date d'emprunt</td>
    </thead>

    <tbody>
        {% for emprunt in empruntsNull %}
        <tr>
            <td>{{emprunt.livre.id}}</td>
            <td>{{emprunt.livre.titre ~ ' - ' ~ emprunt.livre.auteur}}</td>
            <td>{{emprunt.dateSortie|date('d/m.Y')}}</td>
        </tr>
        {% else %}
        <tr>
            <th colspan="4">Aucun Livre </th>
        </tr>
        {% endfor %}
      
        {% for emprunt in NonSortie %}
        <tr>
            <td>{{emprunt.livre.id}}</td>
            <td>{{emprunt.livre.titre ~ ' - ' ~ emprunt.livre.auteur}}</td>
        </tr>
        {% else %}
        <tr>
            <th colspan="4">Aucun Livre </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}