{% extends 'base.html.twig' %}

{% block title %}Exercices{% endblock %}

{% block body %}

<form action="{{ path('exo') }}">
    <div class="form-group ">
        <label>Prénom de l'abonné : </label>
        <input type="text" name="prenom">
    </div>
    <button class="btn btn-primary">Envoyer</button>
</form>
{% if liste_livres |length > 0 %}

<h2>Liste des livres empruntés écris par {{auteur}}</h2>

    {% for emprunt in liste_prenoms %}

    <p>Abonné {{emprunt.abonne.prenom }} - {{ emprunt.livre.titre }}</p>

    {% endfor %}
{%endif%}
{% endblock %}