{% extends 'base.html.twig' %}

{% block title %}Abonnés{% endblock %}

{% block body %}
    <h1>Liste des abonné(e)s : {{ abonnes|length }} abonné(es) </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Roles</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for abonne in abonnes %}
            <tr>
                <td>{{ abonne.id }}</td>
                <td>{{ abonne.prenom }}</td>
                <td>{{ abonne.roles ? abonne.roles|json_encode : '' }}</td>
                <td>{{ abonne.password }}</td>
                <td>
                    <a href="{{ path('abonne_show', {'id': abonne.id}) }}">show</a>
                    <a href="{{ path('abonne_edit', {'id': abonne.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('abonne_new') }}">Create new</a>
{% endblock %}
