{% extends "base.html.twig" %}

{% block title %}Profil{% endblock %}

{% block body %}
<h1>Mon profil</h1>

<table class="table table-responsive">
    <tbody>
        <tr>
            <th>Prénom</th>
            <td>{{ app.user.username }}</td>
        </tr>
    </tbody>
    <div>
        <a href="{{ path('reserver') }}">Emprunter</a>
    </div>
    <div>
        <a href="{{ path('livre_ajouter') }}">
            <i class="fa fa-plus"></i> 
            Ajouter un livre
        </a>
    </div>
    <div>
        <h2>Nombre d'emprunt(s): {{ app.user.emprunts |length }}</h2>
        <table class="table table-responsive">
            <thead class="thead-dark">
                <th>Livre</th>
                <th>Date de Sortie</th>
                <th>Date de rendu</th>
            </thead>
            {% for emprunt in app.user.emprunts %}
            <tr>
                <td>{{ emprunt.livre.titre ~ ' - ' ~  emprunt.livre.auteur  }}</td>
                <td>{{ emprunt.dateSortie ? emprunt.dateSortie|date('Y-m-d') : '' }}</td>
                <td>{{ emprunt.dateRendu ? emprunt.dateRendu|date('Y-m-d') : '' }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="">Modifier</a>
</table>


{% endblock %}