{% extends "base.html.twig" %}

{% block title %}Réservation{% endblock %}

{% block body %}
<form action="" method="POST">
    <div class="form-group">
        <label for="">Livres disponibles</label>
        <select multiple class="form-control" name="liste_livres[]">
            {% for livre in livresRendu %}
            <option value="{{ livre.id }}">{{ livre.titre ~ ' - ' ~ livre.auteur }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Emprunter</button>
</form>
{% endblock %}