<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {{ encore_entry_link_tags("app") }}
    {% endblock %}
</head>

<body>
    {% include "menu.html.twig" %}
    {% for type, messages in app.flashes %}
    <div class="container">
        <div class="alert alert-{{ type }}">
    {% for message in messages %}
            {{ message|raw }}
    {% endfor %}
        </div>
        {% endfor %}
        {% block body %}
        <h1>Bienvenue à la Bibliothèque</h1>
        <div> 
            <h2>Liste des livres: {{ liste_livres|length }}</h2>
            {% if liste_livres|length %}
            <div class="card-columns">
                <div>
                    {% for livre in liste_livres %}
                        {% include "livre/vignette.html.twig" with { "livre" : livre } %}
                    {% endfor %}
                </div>
            </div>
            {% else %}
                <div class="alert alert-warning">Aucun livre ne correspond</div>
            {% endif %}
        </div>
        {% endblock %}
    </div>
    {% block javascripts %}
    {{ encore_entry_script_tags("app") }}
    {% endblock %}
</body>

</html>