{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1>Leste des emprunts</h1>

    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Abonne</th>
                <th>Livre</th>
                <th>Date_sortie</th>
                <th>Date_rendu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.abonne.prenom }}</td>
                <td>{{ emprunt.livre.titre ~ ' - ' ~  emprunt.livre.auteur  }}</td>
                <td>{{ emprunt.dateSortie ? emprunt.dateSortie|date('Y-m-d') : '' }}</td>
                <td>{{ emprunt.dateRendu ? emprunt.dateRendu|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('emprunt_show', {'id': emprunt.id}) }}">show</a>
                    <a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emprunt_new') }}">Create new</a>
{% endblock %}
